@model List<ArooshyStore.Models.ViewModels.ProductCartViewModel>
<div class="page-wrapper">
    <div class="page-content">
        <!--start breadcrumb-->
        <section class="py-3 border-bottom border-top d-none d-md-flex bg-light">
            <div class="container">
                <div class="page-breadcrumb d-flex align-items-center">
                    <h3 class="breadcrumb-title pe-3">Shop Cart</h3>
                    <div class="ms-auto">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0 p-0">
                                <li class="breadcrumb-item">
                                    <a href="javascript:;"><i class="bx bx-home-alt"></i> Home</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:;">Shop</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Shop Cart</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <!--end breadcrumb-->
        <!--start shop cart-->
        <section class="py-4">
            <div class="container">
                <div class="shop-cart">
                    <div class="row">
                        <div class="col-12 col-xl-8">
                            <div class="checkout-review">
                                <div class="card bg-transparent rounded-0 shadow-none">
                                    <div class="card-body">
                                        <div class="steps steps-light">
                                            <a class="step-item active" href="">
                                                <div class="step-progress">
                                                    <span class="step-count">1</span>
                                                </div>
                                                <div class="step-label"><i class='bx bx-cart'></i>Cart</div>
                                            </a>
                                            <a class="step-item active current" href="@Url.Action("CheckOutDetail","CheckOut")">
                                                <div class="step-progress">
                                                    <span class="step-count">2</span>
                                                </div>
                                                <div class="step-label"><i class='bx bx-user-circle'></i>Details</div>
                                            </a>

                                            <a class="step-item active current" id="review-button" href="#">
                                                <div class="step-progress">
                                                    <span class="step-count">3</span>
                                                </div>
                                                <div class="step-label"><i class='bx bx-check-circle'></i>Review</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card  rounded-0 shadow-none mb-3 border">
                                    <div class="card-body">
                                        <h5 class="mb-0">Review Your Order</h5>
                                        <div class="my-3 border-bottom"></div>
                                        <div class="row align-items-center g-3">

                                            @foreach (var cart in Model)
                                            {
                                                <div class="col-12 col-lg-6">
                                                    <div class="d-lg-flex align-items-center gap-3">
                                                        <div class="cart-img text-center text-lg-start">
                                                            <img src="@cart.ImagePath" width="130" alt="@cart.ProductName">
                                                        </div>
                                                        <div class="cart-detail text-center text-lg-start">
                                                            <h6 class="mb-2">@cart.ProductName</h6>
                                                            @if (cart.AttributesList != null && cart.AttributesList.Any())
                                                            {
                                                                foreach (var attribute in cart.AttributesList)
                                                                {
                                                                    <p class="mb-0">
                                                                        @attribute.AttributeName:
                                                                        @foreach (var detail in attribute.AttributeDetails)
                                                                        {
                                                                            <span>@detail.AttributeDetailName</span>
                                                                        }
                                                                    </p>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <span>No attributes available</span>
                                                            }
                                                            <h5 class="mb-0">@cart.ActualSalePrice</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-3">
                                                    <div class="cart-action text-center">
                                                        <input type="number" class="form-control rounded-0" value="@cart.Quantity" min="1">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-3">
                                                    <div class="text-center">
                                                        <div class="d-flex gap-2 justify-content-center justify-content-lg-end">
                                                            <a href="javascript:;" class="btn remove-from-cart btn-light rounded-0 btn-ecomm" data-id="@cart.CartId"><i class='bx bx-x-circle me-0'></i></a>
                                                            <a href="javascript:;" class="btn btn-light rounded-0 btn-ecomm"><i class='bx bx-edit'></i> Edit</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="my-4 border-top"></div>

                                    </div>
                                </div>
                                <div class="card rounded-0 shadow-none mb-3 border">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="shipping-aadress">
                                                    <h5 class="mb-3">Shipping to:</h5>
                                                    <p class="mb-1"><span class="text-dark">Customer:</span> Jhon Michle</p>
                                                    <p class="mb-1"><span class="text-dark">Address:</span> 47-A, Street Name, City, Australia</p>
                                                    <p class="mb-1"><span class="text-dark">Phone:</span> (123) 472-796</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="payment-mode">
                                                    <h5 class="mb-3">Payment Mode:</h5>
                                                    <img src="assets/images/icons/visa.png" width="150" class="p-2 border bg-light rounded" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card rounded-0 shadow-none mb-3 border">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="d-grid">
                                                    <a href="javascript:;" class="btn btn-light btn-ecomm"><i class="bx bx-chevron-left"></i>Back to Payment</a>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="d-grid">
                                                    <a href="" class="btn complete-order btn-outline-dark btn-ecomm">Complete Order<i class="bx bx-chevron-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-4">
                            <div class="checkout-form p-3 bg-light">
                                @Html.Action("CheckOutSidebar", "CheckOut", new { area = "User" })
                            </div>
                        </div>
                    </div>
                    <!--end row-->
                </div>
            </div>
        </section>
        <!--end shop cart-->
    </div>
</div>
<script src="~/Areas/User/Script/ArooshyStoreScripts/CustomerAccount/InsertProductCart.js"></script>