@using ArooshyStore.Models.ViewModels
@model ExpenseViewModel
<div class="mySelect" style="overflow-x:hidden;margin-top:-20px;padding:0px">
    @using (Html.BeginForm("InsertUpdateExpense", "Expense", FormMethod.Post, new { id = "popupForm", @class = "smart-form custome-class-form", @novalidate = "novalidate", enctype = "multipart/form-data" }))
    {
        <fieldset style="padding:1.25rem;">

            <div class="row" style="margin-top: 25px;">
                <section class="col-md-6">
                    <div style="padding:5px;padding-top:0px">
                        <label>Expense Name (*)</label>
                        <input type="hidden" id="ExpenseId" name="ExpenseId" value="@Model.ExpenseId" />
                        <input type="hidden" id="HiddenExpenseTypeId" name="ExpenseTypeId" value="@Model.ExpenseTypeId" />
                        <input type="hidden" id="HiddenTypeName" name="HiddenTypeName" value="@Model.TypeName" />
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fal fa-random"></i>
                                </span>
                            </div>
                            @Html.TextBoxFor(a => a.ExpenseName, new { @placeholder = "Expense Name", @class = "form-control" })
                        </div>
                    </div>
                </section>
                <section class="col-md-6">
                    <table class="" style="width: 100%;">
                        <tr>
                            <td style="width: 80%;">
                                <label class="form-label">Select Expense Type(*)</label>
                                <div class="input-group">
                                    <select id="ExpenseTypeId" name="ExpenseTypeId"></select>
                                </div>
                            </td>
                            <td style="width: 2%;margin-left: -5px;padding-top:8.7px;">
                                <a href="/admin/expensetype/index" target="_blank" class="btn btn-primary" style="margin-top: 14px;color: #fff;padding: 9px;margin-left: -6px;background-color: #aaaaaa !important;border-color: #aaaaaa !important;padding-left: 12px;padding-right: 12px;" title="Add New Expense Type">
                                    <i class="fas fa-plus" style=""></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                </section>
            </div>

            <div class="row" style="margin-top:10px;">
                <section class="col-md-6">
                    <div style="padding:5px;padding-top:0px">
                        <label>Expense Date (*)</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fal fa-calendar-alt"></i>
                                </span>
                            </div>
                            <input type="date" class="form-control" id="ExpenseDate" name="ExpenseDate" value="@Model.ExpenseDate.GetValueOrDefault().ToString("yyyy-MM-dd")" />

                        </div>
                    </div>
                </section>
                <section class="col-md-6">
                    <div style="padding:5px;padding-top:0px">
                        <label>Expense Amount (*)</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fal fa-money-bill"></i>
                                </span>
                            </div>
                            @Html.TextBoxFor(a => a.ExpenseAmount, new { @placeholder = "Expense Amount", @class = "form-control" })
                        </div>
                    </div>
                </section>
            </div>

            <div class="row" style="margin-top:10px;">
                <section class="col-md-6">
                    <div style="padding:5px;padding-top:0px">
                        <label>Paid To</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fal fa-building"></i>
                                </span>
                            </div>
                            @Html.TextBoxFor(a => a.PaidTo, new { @placeholder = "Paid To", @class = "form-control", @inputmode = "text", @pattern = "[A-Za-z ]*" })
                        </div>
                    </div>
                </section>
                <section class="col-md-6">
                    <div style="padding:5px;padding-top:0px">
                        <label>Paid From</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fal fa-credit-card"></i>
                                </span>
                            </div>
                            @Html.TextBoxFor(a => a.PaidFrom, new { @placeholder = "Paid From", @class = "form-control", @type = "text" })
                        </div>
                    </div>
                </section>
            </div>

        </fieldset>
        <footer class="modal-footer" style="margin-top:11px;background-color:#F9F9F9;border-top:1px solid #ddd">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" id="btn_Save" class="btn btn-primary btnSaveForm">Save</button>
        </footer>

    }
</div>
<script src="~/Areas/Admin/Scripts/app.bundle.js"></script>
<script src="~/Areas/Admin/Scripts/ArooshyStoreScripts/Expense/InsertUpdateExpense.js?v=1"></script>