@model PagedList.IPagedList<ArooshyStore.Models.ViewModels.ProductCartViewModel>
<style>
    .pagination {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

        .pagination .page-link {
            color: #000;
        }

        .pagination .page-item.active .page-link {
            background-color: #09172E;
            color: #fff;
            border-color: #09172E;
        }
</style>
<div class="page-wrapper">
    <div class="page-content">
        <section class="py-3 border-bottom border-top d-none d-md-flex bg-light">
            <div class="container">
                <div class="page-breadcrumb d-flex align-items-center">
                    <h3 class="breadcrumb-title pe-3">Shop Cart</h3>
                    <div class="ms-auto">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0 p-0">
                                <li class="breadcrumb-item">
                                    <a href="javascript:;"><i class="bx bx-home-alt"></i> Home</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:;">Shop</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Shop Cart</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <!--end breadcrumb-->
        <!--start shop cart-->
        <section class="py-4">
            <div class="container">
                <div class="shop-cart">
                    <div class="row">
                        <div class="col-12 col-xl-8">
                            <div class="shop-cart-list mb-3 p-3">
                                <div class="row align-items-center g-3">
                                    @if (Model != null && Model.Any())
                                    {
                                        foreach (var cart in Model)
                                        {
                                            <input type="hidden" id="UserId" name="UserId" value="@ViewBag.UserId" />
                                            <input type="hidden" id="ProductId" name="ProductId" value="@cart.ProductId" />
                                            <div class="shop-cart-list mb-3 p-3">
                                                <div class="row align-items-center g-3">
                                                    <div class="col-12 col-lg-6">
                                                        <div class="d-lg-flex align-items-center gap-3">
                                                            <div class="cart-img text-center text-lg-start">
                                                                <img src="@cart.ImagePath" width="130" alt="@cart.ProductId">
                                                            </div>
                                                            <div class="cart-detail text-center text-lg-start">
                                                                <h6 class="mb-2">@cart.ProductName</h6>
                                                                @if (cart.AttributesList != null && cart.AttributesList.Any())
                                                                {
                                                                    foreach (var attribute in cart.AttributesList)
                                                                    {
                                                                        <p class="mb-0">
                                                                            @attribute.AttributeName:
                                                                            @foreach (var detail in attribute.AttributeDetails)
                                                                            {
                                                                                <span>@detail.AttributeDetailName</span>
                                                                            }
                                                                        </p>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <span>No attributes available</span>
                                                                }
                                                                <span>Sale Price:</span><span>@cart.ActualSalePrice</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-3">
                                                        <div class="cart-action text-center">
                                                            <input type="number" class="form-control rounded-0 product-quantity" value="@cart.Quantity" min="@cart.Quantity" data-product-id="@cart.ProductId">
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-3">
                                                        <div class="text-center">
                                                            <div class="d-flex gap-3 justify-content-center justify-content-lg-end">
                                                                <a href="javascript:;" class="btn remove-from-cart btn-outline-dark rounded-0 btn-ecomm remove-item" data-id="@cart.CartId">
                                                                    <i class='bx bx-x'></i> Remove
                                                                </a>
                                                                @*<a href="javascript:;" class="add-to-wishlist" data-product-id="@cart.ProductId"> <i class="bx bx-heart"></i> </a>*@

                                                                <a href="javascript:;" class="btn add-to-wishlist btn-light rounded-0 btn-ecomm" data-product-id="@cart.ProductId"><i class='bx bx-heart me-0'></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                            </div>
                                        }
                                        <div class="pagination mt-4">
                                            <nav aria-label="Page navigation">
                                                <ul class="pagination justify-content-center">
                                                    @if (Model.HasPreviousPage)
                                                    {
                                                        <li class="page-item">
                                                            <a class="page-link" href="@Url.Action("CartItems", new { page = Model.PageNumber - 1, UserId = ViewBag.UserId, CookieName = ViewBag.CookieName })" aria-label="Previous">
                                                                <span aria-hidden="true">&laquo;</span>
                                                            </a>
                                                        </li>
                                                    }
                                                    @for (int i = 1; i <= Model.PageCount; i++)
                                                    {
                                                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                                            <a class="page-link" href="@Url.Action("CartItems", new { page = i, UserId = ViewBag.UserId, CookieName = ViewBag.CookieName })">@i</a>
                                                        </li>
                                                    }
                                                    @if (Model.HasNextPage)
                                                    {
                                                        <li class="page-item">
                                                            <a class="page-link" href="@Url.Action("CartItems", new { page = Model.PageNumber + 1, UserId = ViewBag.UserId, CookieName = ViewBag.CookieName })" aria-label="Next">
                                                                <span aria-hidden="true">&raquo;</span>
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </nav>
                                        </div>


                                        <div class="d-lg-flex align-items-center gap-2">
                                            <a href="javascript:;" class="btn btn-dark btn-ecomm"><i class='bx bx-shopping-bag'></i> Continue Shopping</a>
                                            <a href="javascript:;" class="btn  btn-light btn-ecomm ms-auto clear-cart"><i class='bx bx-x-circle'></i> Clear Cart</a>
                                            <a href="javascript:;" class="btn btn-white btn-ecomm"><i class='bx bx-refresh'></i> Update Cart</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <p>Your cart is empty.</p>
                                    }
                                </div>
                            
                            </div>
                        </div>

                        <div class="col-12 col-xl-4">
                            @Html.Action("CheckOutSidebar", "CheckOut", new { area = "User" })
                        </div>
                    </div>
                    <!--end row-->
                </div>
            </div>
        </section>
    </div>
</div>
<script src="~/Areas/User/Script/ArooshyStoreScripts/CustomerAccount/InsertProductCart.js"></script>
<script src="~/Areas/User/Script/ArooshyStoreScripts/ProductWishlist/InsertProductWishlist.js"></script>

