@model List<ArooshyStore.Models.ViewModels.ProductCartViewModel>

@{
    decimal total = 0;
}

<div class="cart-list">
    @if (Model != null && Model.Any())
    {
        foreach (var cart in Model)
        {
            total += cart.ActualSalePrice;

            <a class="dropdown-item" href="javascript:;">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                        <h6 class="cart-product-title">@cart.ProductName</h6>
                        <p class="cart-product-price">@cart.ActualSalePrice.ToString("C")</p>
                    </div>
                    <div class="position-relative">
                        <div class="cart-product-cancel position-absolute">
                            <i class='bx remove-from-cart bx-x'></i>
                        </div>
                        <div class="cart-product">
                            <img src="@cart.ImagePath" alt="@cart.ProductName" />
                        </div>
                    </div>
                </div>
            </a>
        }

        <a href="javascript:;">
            <div class="text-center cart-footer d-flex align-items-center">
                <h5 class="mb-0">TOTAL</h5>
                <h5 class="mb-0 ms-auto">@total.ToString("C")</h5>
            </div>
        </a>
    }
    else
    {
        <div class="text-center p-3">
            <p>Your cart is currently empty.</p>
        </div>
    }
</div>

<script src="~/Areas/User/Script/ArooshyStoreScripts/CustomerAccount/InsertProductCart.js"></script>
