@model ArooshyStore.Models.ViewModels.CustomerSupplierViewModel
<input type="hidden" id="CustomerSupplierId" value="@Model.CustomerSupplierId" />

<div class="page-wrapper">
    <div class="page-content">
        <section class="py-3 border-bottom border-top d-none d-md-flex bg-light">
            <div class="container">
                <div class="page-breadcrumb d-flex align-items-center">
                    <h3 class="breadcrumb-title pe-3">Forgot Password</h3>
                    <div class="ms-auto">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0 p-0">
                                <li class="breadcrumb-item">
                                    <a href="javascript:;"><i class="bx bx-home-alt"></i> Home</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:;">Customer Account</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-4">
            <div class="container">
                <h3 class="d-none">Account</h3>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card shadow-none mb-3 mb-lg-0 border">
                                    <div class="card-body">
                                        <div class="list-group list-group-flush">
                                            <a href="@Url.Action("AccountDashboard", "CustomerAccount",new { id = Model.CustomerSupplierId })" class="list-group-item active d-flex justify-content-between align-items-center">Dashboard <i class='bx bx-tachometer fs-5'></i></a>
                                            @*<a href="account-downloads.html" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Downloads <i class='bx bx-download fs-5'></i></a>*@
                                            <a href="@Url.Action("CustomerAddress", "CustomerAccount",new { id = Model.CustomerSupplierId })" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Addresses <i class='bx bx-home-smile fs-5'></i></a>
                                            @*<a href="account-payment-methods.html" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Payment Methods <i class='bx bx-credit-card fs-5'></i></a>*@
                                            <a href="@Url.Action("AccountDetail", "CustomerAccount",new { id = Model.CustomerSupplierId })" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Account Details <i class='bx bx-user-circle fs-5'></i></a>
                                            <a href="@Url.Action("ChangePassword", "CustomerAccount",new { id = Model.CustomerSupplierId })" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Change Password <i class='bx bx-cart-alt fs-5'></i></a>
                                            <a href="@Url.Action("Logout", "CustomerAccount")" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Logout <i class='bx bx-log-out fs-5'></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-8">
                                <div class="card shadow-none mb-0 border">
                                    <div class="card-body">
                                        @using (Html.BeginForm("ChangePassword", "CustomerAccount", FormMethod.Post, new { id = "userResetForm", enctype = "multipart/form-data", role = "form" }))
                                        {
                                            <div class="card-body p-3">
                                                <div class="p-3">
                                                    <h4 class="font-weight-bold">Generate New Password</h4>
                                                    <p>You want to change your password. Please enter your new password!</p>
                                                    <div class="mb-3 mt-5 form-group">
                                                        <label class="form-label" for="password">New Password</label>
                                                        <input type="password" class="form-control" name="password" id="password" placeholder="Enter new password" />
                                                        <span data-toggle="#password" id="eyeIcon" class="fal fa-fw fa-eye field-icon toggle-password" style="cursor:pointer;margin-right:10px;float:right;margin-top:-25px;"></span>
                                                    </div>
                                                    <div class="mb-3 form-group">
                                                        <label class="form-label" for="confirmPassword">Confirm Password</label>
                                                        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Confirm password" />
                                                        <span data-toggle="#confirmPassword" id="eyeIcons" class="fal fa-fw fa-eye field-icon toggle-password" style="cursor:pointer;margin-right:10px;float:right;margin-top:-25px;"></span>
                                                    </div>
                                                    <div class="d-grid gap-2">
                                                        <button type="submit" id="btnSubmit" class="btn btn-dark">Change Password</button>
                                                        <a href="@Url.Action("Login", "CustomerAccount")" class="btn btn-light"><i class='bx bx-arrow-back me-1'></i>Back to Login</a>
                                                    </div>
                                                    <div class="text-center important" style="margin-top: 10px; color:red;"></div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
<script src="~/Areas/User/Script/ArooshyStoreScripts/CustomerAccount/ChangePassword.js"></script>

