@{
    ViewBag.Title = "Print Invoice";
}
@using ArooshyStore.Models.ViewModels
@model InvoiceViewModel
<style>
    @@font-face {
        font-family: 'century gothic';
        src: url('../../content/arooshystorecss/centurygothic/century gothic.ttf') format('truetype');
    }

    @@font-face {
        font-family: 'century gothic';
        src: url('../centurygothic/century gothic.ttf') format('truetype');
    }
</style>
<link href="~/Areas/Admin/Content/ArooshyStoreCss/Invoice/Print.css" rel="stylesheet" />
<div class="mySelect" style="overflow: hidden;padding: 0px">
    <main id="js-page-content" role="main" class="page-content">
        <div class="row">
            <div class="col-lg-6" style="margin-top:4px">
            </div>
            <div class="col-md-12" style="display:flex">
                <table style="width: 100%">
                    <tr>
                        <th>
                            <ol class="breadcrumb breadcrumb-sm breadcrumb-arrow">
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fal fa-clipboard"></i>
                                        &nbsp;
                                        <span class="hidden-md-down">Print Invoice</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="javascript:void(0)">
                                        <i class="fal fa-list-ol"></i>
                                        &nbsp;
                                        <span class="hidden-md-down">@Model.InvoiceNumber</span>
                                    </a>
                                </li>
                            </ol>
                        </th>
                        <th style="text-align:right">
                            <button type="button" class="btn printBtn" onclick="printDiv();" style=" background-color:#544D81; color: white;height:32px;width:65px;padding:6px">
                                Print
                            </button>
                        </th>
                    </tr>
                </table>

            </div>

        </div>

        @using (Html.BeginForm("download", "pdf", FormMethod.Post, new { id = "downloadForm", @class = "smart-form custome-class-form", @novalidate = "novalidate", enctype = "multipart/form-data" }))
        {
            <input type="hidden" name="DocumentName" id="DocumentName" value="" /><input type="hidden" name="FileName" id="FileName" value="TimesheetReport" />
            <div id="printable-content" class="font panel printable-content rpt table-responsive" style="max-width:82mm;color:#000 !important;padding-top: 7px; padding-left: 7px;padding-right: 7px; border-radius: 0px;border:none">
                <table style="padding-top:0px;width:100% !important" id="myTable">
                    <tr>
                        <th class="font" style="font-weight: bold; text-align: center;" colspan="12">
                            <img src="@Model.CompanyLogoPath" style="height: 70px; width: 140px;" />
                            <br />
                            <br />
                            <br />
                        </th>
                    </tr>
                    <tr>
                        <th style="text-align: center" colspan="12">
                            <span style="font-size: 11px; font-weight: bold; font-family: 'Century Gothic' !important; ">@Model.CompanyAddress</span>
                        </th>
                    </tr>
                    <tr>
                        <th style=" text-align: center; font-weight: bold" colspan="12">
                            <span style="font-size: 11px; font-weight: bold; font-family: 'Century Gothic' !important; ">PH: @Model.CompanyContact</span>
                        </th>
                    </tr>
                    <tr>
                        <th style=" text-align: center; font-weight: bold" colspan="12">
                            <span style="font-size: 11px; font-weight: bold; font-family: 'Century Gothic' !important; ">Whatsapp: @Model.CompanyContact</span>
                            <br />
                            <br />
                        </th>
                    </tr>
                    <tr>
                        <th style=" text-align: left; font-weight: normal " colspan="12">
                            <span style="font-size: 11px; font-family: 'Century Gothic' !important; ">Customer:&nbsp;&nbsp;<b>@Model.CustomerName</b></span>
                        </th>
                    </tr>
                    <tr>
                        <th style=" text-align: left; font-weight: normal " colspan="12">
                            <span style="font-size: 11px; font-family: 'Century Gothic' !important; ">Receipt No:&nbsp;&nbsp;<b>@Model.InvoiceNumber</b></span>
                        </th>
                    </tr>
                    <tr>
                        <th style=" text-align: left;font-weight:normal " colspan="12">
                            <span style="font-size: 11px; font-family: 'Century Gothic' !important;">Date:&nbsp;&nbsp;<b>@Convert.ToDateTime(Model.InvoiceDate).ToString("dd/MM/yyyy hh:mm tt")</b></span>
                        </th>
                    </tr>
                    <tr>
                        <th style=" text-align: left; font-weight: normal" colspan="12">
                            @if (Model.LoggedInUserName.ToLower() == "super admin")
                            {
                                <span style="font-size: 11px; font-family: 'Century Gothic' !important;">User ID:&nbsp;&nbsp;Admin</span>
                            }
                            else
                            {
                                <span style="font-size: 11px; font-family: 'Century Gothic' !important;">User ID:&nbsp;&nbsp;@Model.LoggedInUserName</span>
                            }
                        </th>
                    </tr>
                    <tr>
                        <th style=" text-align: left; font-weight: normal" colspan="12">
                            <span style="font-size: 11px; font-family: 'Century Gothic' !important;">NTN No:&nbsp;&nbsp;0</span>
                            <br />
                            <br />
                        </th>
                    </tr>
                </table>
                <table class="myTableNew" style="width:100%">
                    <tr class="mainHeaderTr">
                        <th style="text-align: center; font-size: 10px; font-family: 'Century Gothic' !important; width: 10%; border-top: 1px dotted #000 !important; border-bottom: 1px dotted #000 !important;padding:0px;padding-top:5px;padding-bottom:5px ">Sr #</th>
                        <th style="text-align: left; font-size: 10px; font-family: 'Century Gothic' !important; border-top: 1px dotted #000 !important; border-bottom: 1px dotted #000 !important; padding: 0px; padding-top: 5px; padding-bottom: 5px ">Product</th>
                        <th style="text-align: right; font-size: 10px; font-family: 'Century Gothic' !important; width: 10%; border-top: 1px dotted #000 !important; border-bottom: 1px dotted #000 !important; padding: 0px; padding-top: 5px; padding-bottom: 5px ">Price</th>
                        <th style="text-align: center; font-size: 10px; font-family: 'Century Gothic' !important; width: 10%; border-top: 1px dotted #000 !important; border-bottom: 1px dotted #000 !important; padding: 0px; padding-top: 5px; padding-bottom: 5px ">Qty</th>
                        <th style="text-align: right; font-size: 10px; font-family: 'Century Gothic' !important; width: 10%; border-top: 1px dotted #000 !important; border-bottom: 1px dotted #000 !important; padding: 0px; padding-top: 5px; padding-bottom: 5px ">Disc</th>
                        <th style="text-align: right; font-size: 10px; font-family: 'Century Gothic' !important; width: 20%; border-top: 1px dotted #000 !important; border-bottom: 1px dotted #000 !important; padding: 0px; padding-top: 5px; padding-bottom: 5px ">Net Price</th>
                    </tr>
                    <tbody>
                        @{
                            int j = 0;
                            decimal totalQty = 0;
                            decimal totalDiscount = 0;
                            decimal totalNetAmount = 0;
                            decimal actualRetailPrice = 0;
                        }
                        @foreach (InvoiceDetailViewModel s in Model.InvoiceDetailsList)
                        {
                            j++;
                            totalQty += Convert.ToDecimal(s.Qty);
                            totalDiscount += Convert.ToDecimal(s.DiscAmount);
                            totalNetAmount += Convert.ToDecimal(s.NetAmount);
                            actualRetailPrice += Convert.ToDecimal(s.Rate) * Convert.ToDecimal(s.Qty);
                            <tr class="mainDataTr">
                                <td style="text-align: center; font-size: 10px; font-family: 'Century Gothic' !important; ">@(j)</td>
                                <td style="text-align: left; font-size: 10px; font-family: 'Century Gothic' !important; ">@s.ProductName - @s.AttributeName</td>
                                <td style="text-align: right; font-size: 10px; font-family: 'Century Gothic' !important; ">@Convert.ToDecimal(s.Rate).ToString("#,##0.00")</td>
                                <td style="text-align: center; font-size: 10px; font-family: 'Century Gothic' !important; ">@Math.Round(Convert.ToDecimal(s.Qty), 0)</td>
                                <td style="text-align: right; font-size: 10px; font-family: 'Century Gothic' !important; ">@Convert.ToDecimal(s.DiscAmount).ToString("#,##0.00")</td>
                                <td style="text-align: right; font-size: 10px; font-family: 'Century Gothic' !important; ">@Convert.ToDecimal(s.NetAmount).ToString("#,##0.00")</td>
                            </tr>
                        }
                        <tr class="mainTotalTr">
                            <td style="text-align: right; font-size: 10px; font-family: 'Century Gothic' !important; border-top: 1px dotted #000 !important; border-bottom: 1px dotted #000 !important; padding: 0px; padding-top: 5px; padding-bottom: 5px " colspan="3">Gross Total: </td>
                            <td style="text-align: center; font-size: 10px; font-family: 'Century Gothic' !important; border-top: 1px dotted #000 !important; border-bottom: 1px dotted #000 !important; padding: 0px; padding-top: 5px; padding-bottom: 5px ">@Math.Round(Convert.ToDecimal(totalQty), 0)</td>
                            <td style="text-align: right; font-size: 10px; font-family: 'Century Gothic' !important; border-top: 1px dotted #000 !important; border-bottom: 1px dotted #000 !important; padding: 0px; padding-top: 5px; padding-bottom: 5px ">@Convert.ToDecimal(totalDiscount).ToString("#,##0.00")</td>
                            <td style="text-align: right; font-size: 10px; font-family: 'Century Gothic' !important; border-top: 1px dotted #000 !important; border-bottom: 1px dotted #000 !important; padding: 0px; padding-top: 5px; padding-bottom: 5px ">@Convert.ToDecimal(totalNetAmount).ToString("#,##0.00")</td>
                        </tr>
                        <tr class="">
                            <td style="text-align: center; font-weight: bold " colspan="6">
                                <br />
                            </td>
                        </tr>
                        <tr class="">
                            <td style="text-align: right; font-weight: bold; font-size: 10px; font-family: 'Century Gothic' !important; " colspan="5">Actual Retail Value:&nbsp;&nbsp;</td>
                            <td style="text-align: right; font-weight: bold; font-size: 10px; font-family: 'Century Gothic' !important;">@Convert.ToDecimal(actualRetailPrice).ToString("#,##0.00")</td>
                        </tr>
                        <tr class="">
                            <td style="text-align: right; font-weight: bold; font-size: 10px; font-family: 'Century Gothic' !important; " colspan="5">Total Discount:&nbsp;&nbsp;</td>
                            <td style="text-align: right; font-weight: bold; font-size: 10px; font-family: 'Century Gothic' !important;">@Convert.ToDecimal(totalDiscount).ToString("#,##0.00")</td>
                        </tr>
                        <tr class="">
                            <td style="text-align: right; font-weight: bold; font-size: 10px; font-family: 'Century Gothic' !important; " colspan="5">More Discount:&nbsp;&nbsp;</td>
                            <td style="text-align: right; font-weight: bold; font-size: 10px; font-family: 'Century Gothic' !important;">@Convert.ToDecimal(Model.DiscAmount).ToString("#,##0.00")</td>
                        </tr>
                        <tr class="mainTr">
                            <td style="text-align: right; font-weight: bold; font-size: 10px; font-family: 'Century Gothic' !important;" colspan="5">Delivery Charges:&nbsp;&nbsp;</td>
                            <td style="text-align: right; font-weight: bold; font-size: 10px; font-family: 'Century Gothic' !important;">@Convert.ToDecimal(Model.DeliveryCharges).ToString("#,##0.00")</td>
                        </tr>
                        <tr class="mainTr">
                            <td style="text-align: right; font-weight: bold; font-size: 10px; font-family: 'Century Gothic' !important; border-bottom: 1px dotted #000 !important;padding-bottom:10px " colspan="5">Net Total:&nbsp;&nbsp;</td>
                            <td style="text-align: right; font-weight: bold; font-size: 10px; font-family: 'Century Gothic' !important; border-bottom: 1px dotted #000 !important; padding-bottom: 10px ">@Convert.ToDecimal(Model.NetAmount).ToString("#,##0.00")</td>
                        </tr>
                        <tr class="">
                            <td style="text-align: center; font-weight: bold " colspan="6">
                                <br />
                            </td>
                        </tr>
                        <tr class="">
                            <td style="font-weight: bold; font-size: 10px !important; font-family: 'Century Gothic' !important;padding-bottom:30px" colspan="6">
                                Note:
                                <ul style="margin-left:-30px !important">
                                    <li>Unused Shoes can be exchanged within 10 days after purchase. Please bring also receipt with you as we will not exchange any item without receipt.</li>
                                    <li>Used Shoes will never be exchanged / returned / claimed.</li>
                                    <li>Sale Items will never be exchanged / returned / claimed.</li>
                                </ul>
                            </td>
                        </tr>

                    </tbody>
                </table>
                @*@foreach (ProductAttributeDetailViewModel p in Model)
                    {
                        for (int j = 0; j < p.TotalRecords; j++)
                        {
                            totalBarcodes++;
                            <table style="padding-top:0px;" id="myTable">
                                <tr>
                                    <th class="ArooshyStoreTag" style="font-weight: bold; text-align: center;" colspan="12">Arooshy Store</th>
                                </tr>
                                <tr>
                                    <th style="text-align: center;text-decoration:underline" colspan="12">
                                        <input type="hidden" class="HiddenBarcode" value="@p.Barcode" />
                                        <img class="BarcodeTag" style="width:300px" />
                                    </th>
                                </tr>
                                <tr>
                                    <th class="ProductNameTag" style=" text-align: center; font-weight: bold" colspan="12">
                                        @p.ArticleNumber - @p.AttributeDetailName1 - @p.AttributeDetailName2
                                    </th>
                                </tr>
                                <tr>
                                    <th class="PriceTag" style=" text-align: center;font-weight:bold" colspan="12">
                                        Price @p.Price /-
                                    </th>
                                </tr>
                            </table>
                            <div class="PageEnd"></div>
                        }
                    }*@
            </div>
            <br />
        }
    </main>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.nav-menu li a[href="/admin/invoice/saleinvoiceindex/?from=all"]').parent("li").addClass('active');
        $('.nav-menu li a[href="/admin/invoice/saleinvoiceindex/?from=all"]').parent("li").parent("ul").css('display', "block");
        $('.nav-menu li a[href="/admin/invoice/saleinvoiceindex/?from=all"]').parent("li").parent("ul").parent("li").removeClass("open").addClass("open");
        $('.nav-menu li a[href="/admin/invoice/saleinvoiceindex/?from=all"]').parent("li").parent("ul").parent("li").find("a").find("b").find("em").removeClass("fa-angle-down").removeClass("fa-angle-up").addClass("fa-angle-up");
        $(".printBtn").click();
    });
    function printDiv() {

        var divToPrint = document.getElementById('printable-content');

        var newWin = window.open('', 'Print-Window');

        newWin.document.open();

        newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');

        newWin.document.close();

        setTimeout(function () { newWin.close(); }, 10);

    }
</script>

