@using ArooshyStore.Models.ViewModels
@model  DiscountOfferViewModel
<link href="~/Areas/Admin/Content/ArooshyStoreCss/Category/InsertUpdateCategory.css" rel="stylesheet" />
<div class="mySelect" style="overflow: hidden; padding: 0px; background-color: #ECECEC">
    <main id="js-page-content" role="main" class="page-content">
        <div class="row">
            <div class="col-md-12" style="display:flex">
                <table style="width: 100%">
                    <tr>
                        <th>
                            <ol class="breadcrumb breadcrumb-sm breadcrumb-arrow">
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fal fa-clipboard"></i>
                                        &nbsp;
                                        <span class="hidden-md-down">Discount Offer</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="javascript:void(0)">
                                        <i class="fal fa-list-ol"></i>
                                        &nbsp;
                                        @if (Model.OfferId > 0)
                                        {
                                            <span class="hidden-md-down">Edit Discount Offer</span>
                                        }
                                        else
                                        {
                                            <span class="hidden-md-down">Add Discount Offer</span>
                                        }

                                    </a>
                                </li>
                            </ol>
                        </th>
                        <th style="text-align:right">
                            <h6 class="js-get-date" style="margin-top: -7px;"></h6>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        @using (Html.BeginForm("InsertUpdateDiscountOffer", "DiscountOffer", FormMethod.Post, new { id = "popupForm", @class = "smart-form custome-class-form", @novalidate = "novalidate", enctype = "multipart/form-data" }))
        {
            <fieldset style="padding:1.25rem;background-color:#fff !important">
                <div class="row">
                    <section class="col-md-3">
                    </section>
                    <section class="col-md-6">
                        <div style="display: flex; flex-direction: column; padding: 18px; padding-top: 0px; padding-bottom: 0px;">
                            <div class="myDiv" style="flex: 1;">
                                <img id="DocumentImage" src="@Model.ImagePath" style="margin-top: 28px;height: 240px;width:100%;border-top-left-radius: 5px;border-top-right-radius: 5px;" />
                                <a href="javascript:void(0)" title="Delete this Picture" data-value="0" style="background-color: #FD1381; font-size: 14px; border-radius: 50%; font-weight: bold; padding: 5px; color: #fff; padding-left: 9px; padding-right: 9px; position: absolute; right: 35px; top: 33px;" class="deleteImage DeleteImage">X</a>

                            </div>
                            <div class="custom-file" style="flex: 1;">
                                <input type="file" class="custom-file-input" id="ProfileImage">
                                <label class="custom-file-label" id="AttachDocument" for="ProfileImage" style="overflow: hidden;">Choose Picture...</label>
                            </div>
                        </div>
                    </section>
                    <section class="col-md-3">
                    </section>
                </div>
                <div class="row" style="margin-top: 25px;">
                    <section class="col-md-2"></section>
                    <section class="col-md-4">
                        <div style="padding:5px;padding-top:0px;padding-right:0px">
                            <label>Offer Name (*)</label>
                            <input type="hidden" id="OfferId" name="OfferId" value="@Model.OfferId" />
                            <input type="hidden" id="HiddenProductId" name="HiddenProductId" value="@Model.ProductId" />
                            <input type="hidden" id="HiddenProductName" name="HiddenProductName" value="@Model.ProductName" />
                            <input type="hidden" id="HiddenDocumentId" name="HiddenDocumentId" value="@Model.DocumentId" />
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fal fa-info"></i>
                                    </span>
                                </div>
                                @Html.TextBoxFor(a => a.DiscountName, new { @placeholder = "Offer Name", @class = "form-control" })

                            </div>
                        </div>
                    </section>
                    <section class="col-md-4">
                        <div style="padding:5px;padding-top:0px">
                            <label>Expiry Date (*)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fal fa-calendar-alt"></i>
                                    </span>
                                </div>
                                @if (Model.OfferId > 0)
                                {
                                    <input type="date" class="form-control" id="ExpiredOn" name="ExpiredOn" value="@Model.ExpiredOn.GetValueOrDefault().ToString("yyyy-MM-dd")" />
                                }
                                else
                                {
                                    <input type="date" class="form-control" id="ExpiredOn" name="ExpiredOn" value="@DateTime.Now.AddMonths(1).ToString("yyyy-MM-dd")" />
                                }
                            </div>
                        </div>
                    </section>
                    <section class="col-md-2"></section>
                </div>
                @{
                    string ishiddenStatus = "hidden";
                    string ischecked = "";
                    if (Model.OfferId > 0)
                    {
                        ishiddenStatus = "";
                        if (Model.Status == true)
                        {
                            ischecked = "checked";
                        }
                    }
                }
                <div class="row" @ishiddenStatus style="margin-top:10px">
                    <section class="col-md-6"></section>
                    <section class="col-md-4">
                        <div class="custom-control custom-switch  pull-right" style="margin-right:7px;">
                            <input type="checkbox" class="custom-control-input" name="Status" id="Status" @ischecked>
                            <label class="custom-control-label" for="Status">Active</label>
                        </div>
                    </section>
                    <section class="col-md-2"></section>
                </div>
                <center>
                    <a href="javascript:void(0)" id="btnFilter" data-value="0" class="btn btn-dark" style="margin-top:10px">Show Filters</a>
                </center>
                <div class="row" style="margin-top: 25px;" id="FiltersDiv" hidden>
                    <section class="col-md-4">
                        <div style="padding:5px;padding-top:0px;padding-right:0px">
                            <div class="input-group">
                                <table class="" style="width: 100%;">
                                    <tr>
                                        <td style="width: 100%;">
                                            <label class="form-label">Select Master Category</label>
                                            <div class="input-group" id="MasterCategoryIdDiv">
                                                <select id="MasterCategoryId" name="MasterCategoryId"></select>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </section>
                    <section class="col-md-4">
                        <div style="padding:5px;padding-top:0px;padding-right:0px">
                            <div class="input-group">
                                <table class="" style="width: 100%;">
                                    <tr>
                                        <td style="width: 100%;">
                                            <label class="form-label">Select Child Category</label>
                                            <div class="input-group" id="ChildCategoryIdDiv">
                                                <select id="ChildCategoryId" name="ChildCategoryId"></select>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </section>
                    <section class="col-md-4">
                        <div style="padding:5px;padding-top:0px;padding-right:0px">
                            <div class="input-group">
                                <table class="" style="width: 100%;">
                                    <tr>
                                        <td style="width: 100%;">
                                            <label class="form-label">Select Product</label>
                                            <div class="input-group" id="ProductIdDiv">
                                                <select id="ProductId" name="ProductId"></select>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
                <div id="ProductsListDiv"></div>
            </fieldset>
            <footer class="modal-footer" style="margin-top:11px;background-color:#F9F9F9;border-top:1px solid #ddd">
                <a href="/admin/discountoffer/index" class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                <button type="submit" id="btn_Save" class="btn btn-primary btnSaveForm">Save</button>
            </footer>
        }
    </main>
</div>
<script src="~/Areas/Admin/Scripts/app.bundle.js"></script>
<script src="~/Areas/Admin/Scripts/ArooshyStoreScripts/DiscountOffer/InsertUpdateDiscountOffer.js?v=4"></script>