@using ArooshyStore.Models.ViewModels
@model IEnumerable<ProductAttributeDetailViewModel>

<link href="~/Content/ArooshyStoreCss/Product/InsertUpdateProductAttributeDetail.css" rel="stylesheet" />
<style>


    .actionCheckbox, .moduleCheckbox {
        width: 20px;
        height: 20px;
        /*background-color:green!important;*/
    }


    .tree li {
        list-style-type: none;
        margin: 0;
        padding: 10px 5px 0 5px;
        position: relative
    }

        .tree li::before,
        .tree li::after {
            content: '';
            left: -20px;
            position: absolute;
            right: auto
        }

        .tree li::before {
            border-left: 2px solid #886AB5;
            bottom: 50px;
            height: 100%;
            top: 0;
            width: 1px
        }

        .tree li::after {
            border-top: 2px solid #886AB5;
            height: 20px;
            top: 25px;
            width: 25px
        }

        .tree li span {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 3px;
            display: inline-block;
            padding: 3px 8px;
            text-decoration: none;
            cursor: pointer;
        }

    .tree > ul > li::before,
    .tree > ul > li::after {
        border: 0
    }

    .tree li:last-child::before {
        height: 27px
    }

    .tree li span:hover {
        border: 2px solid #94a0b4;
    }

    [aria-expanded="false"] > .expanded,
    [aria-expanded="true"] > .collapsed {
        display: none;
    }

</style>
<div class="mySelect" style="overflow-x:hidden;margin-top:-20px;padding:0px">
    @using (Html.BeginForm("InsertUpdateProductAttributeDetail", "Product", FormMethod.Post, new { id = "popupForm", @class = "smart-form custome-class-form", @novalidate = "novalidate", enctype = "multipart/form-data" }))
    {
        <fieldset style="padding:1.25rem;">
            <div class="row">
                <div class="col-md-12" style="margin-top:13px;">
                    <table class="" style="width:100%;margin-top:5px !important;margin-bottom:5px !important;">
                        <tr>
                            <td style="width: 100%; padding-right: 3px; padding-left: 3px" id="">
                                <a href="javascript:void(0);" class="btn btn-primary selectAllBtn" style="margin-left:11px;" title="Select All">
                                    Select All
                                </a>

                                <a href="javascript:void(0);" class="btn btn-secondary waves-effect waves-themed clearAllBtn" title="Clear All" style="">
                                    Clear All
                                </a>
                            </td>
                            <td>
                                <button type="submit" id="btn_Save" class="btn btn-primary btnSaveForm saveRoleBtn" style="margin-right:11px;">Save</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="AllModules">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <section class="tree">
                            <ul>
                                @{
                                    int i = 0;
                                }
                                @foreach (var attribute in Model)
                                {
                                    i++;
                                    string id = "attribute" + i;
                                    int j = 0;

                                    <li class="ModuleList">
                                        <span class="col-md-12" style="padding: 15px; background-color: #886AB5; margin-bottom: 32px; font-size:17px; margin-left:-20px;">
                                            <input type="checkbox" id="@id" class="moduleCheckbox" />
                                            <label for="@id" style="margin-right: 3px; float: left;"></label>
                                            <a style="color:whitesmoke; margin-left: 8px; text-decoration:none;" data-toggle="collapse" href="#attribute_@i" aria-expanded="true" aria-controls="attribute_@i">
                                                @attribute.AttributeName
                                            </a>
                                        </span>

                                        <ul id="attribute_@i" style="margin-top:-31px">
                                            @foreach (var detail in attribute.ProductAttributeDetailList)
                                            {
                                                j++;
                                                string id2 = "detail" + i + j;
                                                <li style="display:none" class="ActionList">
                                                    <span style="background-color: #727B84; color: white; padding: 5px; padding-bottom: 12px" class="col-md-10">
                                                        <input type="checkbox" id="@id2" class="actionCheckbox" />
                                                        <label for="@id2" style="margin-right: 3px;"></label>
                                                        <b style="font-size:15px; margin-top:6px;">@detail.AttributeDetailName</b>
                                                    </span>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </section>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </fieldset>

    }
</div>

    <script src="~/Areas/Admin/Scripts/app.bundle.js"></script>
    <script src="~/Areas/Admin/Scripts/ArooshyStoreScripts/Product/InsertUpdateProductAttributeDetail.js"></script>
