@using ArooshyStore.Models.ViewModels
@model ProductViewModel
<div class="mySelect" style="overflow-x:hidden;margin-top:-20px;padding:0px">
    @using (Html.BeginForm("InsertUpdateProduct", "Product", FormMethod.Post, new { id = "popupForm", @class = "smart-form custome-class-form", @novalidate = "novalidate", enctype = "multipart/form-data" }))
    {
        string ishidden = "hidden";
        string ischeckedStatus = "";
        string ischeckedFeatured = "";
        string ischeckedExpired = "";
        string ischeckedShowOnWebsite = "checked";
        string isDisabledExpiredTextbox = "disabled";

        if (Model.ProductId > 0)
        {
            ishidden = "";
            if (Model.Status == true)
            {
                ischeckedStatus = "checked";
            }
            if (Model.ShowOnWebsite == false)
            {
                ischeckedShowOnWebsite = "";
            }
        }
        if (Model.IsFeatured == true)
        {
            ischeckedFeatured = "checked";
        }
        if (Model.IsExpired == true)
        {
            ischeckedExpired = "checked";
            isDisabledExpiredTextbox = "";
        }
        <fieldset style="padding:1.25rem;">
            <div class="row">
                <div class="col-md-4" style="padding: 18px;padding-top:0px;padding-bottom:0px">
                    <div class="myDiv">
                        <img id="DocumentImage" src="@Model.ImagePath" style="margin-top: 28px;height: 190px;width:100%;border-top-left-radius: 5px;border-top-right-radius: 5px;" />
                        <a href="javascript:void(0)" title="Delete this Picture" data-value="0" style="background-color: #FD1381; font-size: 14px; border-radius: 50%; font-weight: bold; padding: 5px; color: #fff; padding-left: 9px; padding-right: 9px; position: absolute; right: 35px; top: 33px;display: none;" class="deleteImage DeleteImage">X</a>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="ProfileImage">
                        <label class="custom-file-label" id="AttachDocument" for="ProfileImage" style="overflow:hidden">Choose Picture...</label>
                    </div>
                </div>
                <div class="col-md-8" style="margin-top:23px">
                    <div class="row">
                        <section class="col-md-12">
                            <div style="padding:5px;padding-top:0px">
                                <label>Product Name (*)</label>
                                <input type="hidden" id="ProductId" name="ProductId" value="@Model.ProductId" />
                                <input type="hidden" id="HiddenCategoryId" name="HiddenCategoryId" value="@Model.CategoryId" />
                                <input type="hidden" id="HiddenCategoryName" name="HiddenCategoryName" value="@Model.CategoryName" />
                                <input type="hidden" id="HiddenUnitId" name="UnitId" value="@Model.UnitId" />
                                <input type="hidden" id="HiddenUnitName" name="HiddenUnitName" value="@Model.UnitName" />
                                <input type="hidden" id="HiddenDeliveryInfoId" name="DeliveryInfoId" value="@Model.DeliveryInfoId" />
                                <input type="hidden" id="HiddenDeliveryInfoName" name="HiddenDeliveryInfoName" value="@Model.DeliveryInfoName" />
                                <input type="hidden" id="HiddenTagId" name="TagId" value="@Model.TagId" />
                                <input type="hidden" id="HiddenTagName" name="HiddenTagName" value="@Model.TagName" />
                                <input type="hidden" id="HiddenDocumentId" name="HiddenDocumentId" value="@Model.DocumentId" />
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fal fa-info"></i>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(a => a.ProductName, new { @placeholder = "Product Name", @class = "form-control" })
                                </div>

                            </div>
                        </section>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <section class="col-md-12">
                            <div style="padding:5px;padding-top:0px;padding-right:0px">
                                <div class="input-group">
                                    <table class="" style="width: 100%;">
                                        <tr>
                                            <td style="width: 80%;">
                                                <label class="form-label">Select Category (*)</label>
                                                <div class="input-group">
                                                    <select id="CategoryId" name="CategoryId"></select>
                                                </div>
                                            </td>
                                            <td style="width: 2%;margin-left: -5px;padding-top:8.7px;">
                                                <a href="/admin/category/index/?from=child" target="_blank" class="btn btn-primary btnPlusNewUserType" style="margin-top: 14px;color: #fff;padding: 9px;margin-left: -6px;background-color: #aaaaaa !important;border-color: #aaaaaa !important;padding-left: 12px;padding-right: 12px;" title="Add Category">
                                                    <i class="fas fa-plus" style=""></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="row" style="margin-top: 10px ">
                        <section class="col-md-6">
                            <div style="padding:5px;padding-top:0px">
                                <label>Article Number (*)</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fal fa-hashtag"></i>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(a => a.ArticleNumber, new { @placeholder = "Article Number", @class = "form-control" })
                                </div>
                            </div>
                        </section>
                        <section class="col-md-6">
                            <div style="padding:5px;padding-top:0px">
                                <div class="input-group">
                                    <table class="" style="width: 100%;">
                                        <tr>
                                            <td style="width: 80%;">
                                                <label class="form-label">Select Delivery Info</label>
                                                <div class="input-group">
                                                    <select id="DeliveryInfoId" name="DeliveryInfoId"></select>
                                                </div>
                                            </td>
                                            <td style="width: 2%;margin-left: -5px;padding-top:8.7px;">
                                                <a href="/admin/deliveryinfo/index" target="_blank" class="btn btn-primary btnPlusNewUserType" style="margin-top: 14px;color: #fff;padding: 9px;margin-left: -6px;background-color: #aaaaaa !important;border-color: #aaaaaa !important;padding-left: 12px;padding-right: 12px;" title="Add Delivery Info">
                                                    <i class="fas fa-plus" style=""></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </section>
                        @*<section class="col-md-6">
                                <div style="padding:5px;padding-top:0px">
                                    <label>Barcode (*)</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fal fa-barcode"></i>
                                            </span>
                                        </div>
                                        @Html.TextBoxFor(a => a.Barcode, new { @placeholder = "Barcode", @class = "form-control", @disabled = "disabled" })
                                    </div>
                                </div>
                            </section>*@
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12" style="margin-top:16px">
                    <div class="row">
                        @*<section class="col-md-4">
                                <div style="padding:5px;padding-top:0px;padding-right:0px">
                                    <div class="input-group">
                                        <table class="" style="width: 100%;">
                                            <tr>
                                                <td style="width: 80%;">
                                                    <label class="form-label">Select Unit</label>
                                                    <div class="input-group">
                                                        <select id="UnitId" name="UnitId"></select>
                                                    </div>
                                                </td>
                                                <td style="width: 2%;margin-left: -5px;padding-top:8.7px;">
                                                    <a href="javascript:void(0)" target="_blank" class="btn btn-primary btnPlusNewUserType" style="margin-top: 14px;color: #fff;padding: 9px;margin-left: -6px;background-color: #aaaaaa !important;border-color: #aaaaaa !important;padding-left: 12px;padding-right: 12px;" title="Add Unit">
                                                        <i class="fas fa-plus" style=""></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </section>*@
                        <section class="col-md-4">
                            <div style="padding:5px;padding-top:0px">
                                <label>Sale Price (Admin)</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fal fa-money-bill-alt"></i>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(a => a.SalePrice, new { @placeholder = "Sale Price (Admin)", @class = "form-control" })
                                </div>
                            </div>
                        </section>
                        <section class="col-md-4">
                            <div style="padding:5px;padding-top:0px">
                                <label>Sale Price (Website)</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fal fa-money-bill-alt"></i>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(a => a.SalePriceForWebsite, new { @id = "SalePriceForWebsite", @placeholder = "Sale Price (Website)", @class = "form-control" })
                                </div>
                            </div>
                        </section>
                        <section class="col-md-4">
                            <div style="padding:5px;padding-top:0px" id="ExpiredTextboxDiv">
                                <label>Sale Price (Expired)</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fal fa-money-bill-alt"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" name="SalePriceAfterExpired" id="SalePriceAfterExpired" value="@Model.SalePriceAfterExpired" placeholder="Sale Price (Expired)" @isDisabledExpiredTextbox />
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 8px; margin-right: -30px;">
                <section class="col-md-10">
                </section>
                <section class="col-md-2">
                    <div class="custom-control custom-switch" style="margin-right:7px;">
                        <input type="checkbox" class="custom-control-input" name="IsExpired" id="IsExpired" @ischeckedExpired>
                        <label class="custom-control-label" for="IsExpired">Expired</label>
                    </div>
                </section>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-top:3px">
                    <div class="row">
                        <section class="col-md-12">
                            <div style="padding:5px;padding-top:0px">
                                <div class="input-group">
                                    <table class="" style="width: 100%;">
                                        <tr>
                                            <td style="width: 100%;">
                                                <label class="form-label">Product Tags</label>
                                                <div class="input-group">
                                                    <select id="TagId" name="TagId"></select>
                                                </div>

                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-top:10px">
                    <div class="row">
                        <section class="col-md-12">
                            <div style="padding:5px;padding-top:0px;">
                                <label>Product Description</label>
                                <div class="input-group">
                                    @Html.TextAreaFor(a => a.ProductDescription, new { @placeholder = "Product Description", @class = "form-control" })
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <section class="col-md-5">
                </section>
                <section class="col-md-2">
                    <div class="custom-control custom-switch  pull-right" style="margin-right:7px;" @ishidden>
                        <input type="checkbox" class="custom-control-input" name="Status" id="Status" @ischeckedStatus>
                        <label class="custom-control-label" for="Status">Active</label>
                    </div>
                </section>
                <section class="col-md-2">
                    <div class="custom-control custom-switch  pull-right" style="margin-right:7px;">
                        <input type="checkbox" class="custom-control-input" name="Featured" id="Featured" @ischeckedFeatured>
                        <label class="custom-control-label" for="Featured">Featured</label>
                    </div>
                </section>
                <section class="col-md-3">
                    <div class="custom-control custom-switch  pull-right" style="margin-right:7px;">
                        <input type="checkbox" class="custom-control-input" name="ShowOnWebsite" id="ShowOnWebsite" @ischeckedShowOnWebsite>
                        <label class="custom-control-label" for="ShowOnWebsite">Show On Website</label>
                    </div>
                </section>
            </div>

            <h1 class="heading-1" style="margin-top: 20px;color: #838383;font-weight:bold;font-size:17px "><span>Product Attributes</span></h1>
            <div class="row">
                <div class="col-md-12" style="margin-top:13px;">
                    <center>
                        @*<a href="javascript:void(0);" class="btn btn-primary  selectAllBtn" style="margin-left:11px;" title="Select All">
                                Select All
                            </a>

                            <a href="javascript:void(0);" class="btn btn-secondary waves-effect waves-themed clearAllBtn" title="Clear All" style="">
                                Clear All
                            </a>*@
                        <a href="javascript:void(0);" class="btn btn-secondary  refreshBtn" style="margin-left:11px;" title="Refresh Attributes">
                            Refresh
                        </a>
                    </center>
                </div>
            </div>
            <div class="AllModules" style="">
            </div>
        </fieldset>
        <footer class="modal-footer" style="margin-top:11px;background-color:#F9F9F9;border-top:1px solid #ddd">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" id="btn_Save" class="btn btn-primary btnSaveForm">Save</button>
        </footer>
    }
</div>
<script src="~/Areas/Admin/Scripts/app.bundle.js"></script>
<script src="~/Areas/Admin/Scripts/ArooshyStoreScripts/Product/InsertUpdateProduct.js?v=12"></script>

