@model List<ArooshyStore.Models.ViewModels.ProductReviewViewModel>
<main id="js-page-content" role="main" class="page-content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
        <li class="breadcrumb-item">Product Reviews</li>
        <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
    </ol>
    @if (Model != null && Model.Any())
    {
        <div class="row">
            <div class="col-xl-12">
                @*<div class="input-group input-group-lg mb-g">
                        <input type="text" class="form-control shadow-inset-2" placeholder="Search Discussion">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fal fa-search"></i></span>
                        </div>
                    </div>*@
                @foreach (var review in Model)
                {
                    <div class="card mb-g border shadow-0">
                        <div class="card-header bg-white p-0">
                            <div class="p-3 d-flex flex-row">
                                <div class="d-block flex-shrink-0">
                                    <img src="@review.ImagePath" class="img-fluid img-thumbnail" width="80" alt="Product Image" />
                                </div>
                                <div class="d-block ml-2">
                                    <span class="h6 font-weight-bold text-uppercase d-block m-0"><a href="javascript:void(0);">@review.ReviewByName</a></span>
                                    <a href="javascript:void(0);" class="fs-sm text-info h6 fw-500 mb-0 d-block">@review.ProductName</a>
                                    <div class="d-flex mt-1 text-warning align-items-center">
                                        <i class="fas fa-star mr-1"></i>
                                        <i class="fas fa-star mr-1"></i>
                                        <i class="fas fa-star mr-1"></i>
                                        <i class="fas fa-star mr-1"></i>
                                        <i class="fal fa-star mr-1"></i>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card-body ">
                            <p> @review.ReviewDetail</p>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex align-items-center">
                                <span class="text-sm text-muted font-italic"><i class="fal fa-clock mr-1"></i> @review.CreatedDate</span>
                            </div>
                        </div>
                    </div>
                }
                <!-- post -end -->
                <ul id="pagination-controls" class="pagination mt-3">
                    <li id="prev-page" class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true"><i class="fal fa-chevron-left"></i></span>
                        </a>
                    </li>
                    <li id="next-page" class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true"><i class="fal fa-chevron-right"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    }
    else
    {
        <div class="text-center">
            <h5>No products Reviews available</h5>
            <p>We are sorry, but there are no Reviews to display at the moment.</p>
        </div>
    }
</main>
<script src="~/Areas/Admin/Scripts/ArooshyStoreScripts/Product/ProductReview.js"></script>
