<link href="~/Content/ArooshyStoreCss/User/InsertUpdateUser.css" rel="stylesheet" />
@using ArooshyStore.Models.ViewModels
@model CarouselViewModel

<div class="mySelect" style="overflow-x:hidden;margin-top:-20px;padding:0px">
    @using (Html.BeginForm("InsertUpdateCarousel", "Carousel", FormMethod.Post, new { id = "popupForm", @class = "smart-form custome-class-form", @novalidate = "novalidate", enctype = "multipart/form-data" }))
    {
        <fieldset style="padding:1.25rem;">
            <div class="row">
                <div class="col-md-4" style="padding: 18px;padding-top:0px;padding-bottom:0px">
                    <div class="myDiv">
                        <img id="DocumentImage" src="@Model.ImagePath" style="margin-top: 28px;height: 190px;width:100%;border-top-left-radius: 5px;border-top-right-radius: 5px;" />
                        <a href="javascript:void(0)" title="Delete this Picture" data-value="0" style="background-color: #FD1381; font-size: 14px; border-radius: 50%; font-weight: bold; padding: 5px; color: #fff; padding-left: 9px; padding-right: 9px; position: absolute; right: 35px; top: 33px;display: none;" class="deleteImage DeleteImage">X</a>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="ProfileImage">
                        <label class="custom-file-label" id="AttachDocument" for="ProfileImage" style="overflow:hidden">Choose Picture...</label>
                    </div>
                </div>
                <div class="col-md-8" style="margin-top:23px">
                    <div class="row">
                        <section class="col-md-12">
                            <div style="padding:5px;padding-top:10px">
                                <label>Line 1 (*)</label>
                                <input type="hidden" id="CarouselId" name="CarouselId" value="@Model.CarouselId" />
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fal fa-building"></i>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(a => a.Line1, new { @placeholder = "Line 1", @class = "form-control" })
                                </div>
                            </div>
                        </section>
                        <section class="col-md-12">
                            <div style="padding:5px;padding-top:13px">
                                <label>Line 2 (*)</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fal fa-building"></i>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(a => a.Line2, new { @placeholder = "Line 2", @class = "form-control" })
                                </div>
                            </div>
                        </section>
                        <section class="col-md-12">
                            <div style="padding:5px;padding-top:13px">
                                <label>Line 3 (*)</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fal fa-building"></i>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(a => a.Line3, new { @placeholder = "Line 3", @class = "form-control" })
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        
          
            @{
                string ishidden = "hidden";
                string ischecked = "";
                if (Model.CarouselId > 0)
                {
                    ishidden = "";
                    if (Model.Status == true)
                    {
                        ischecked = "checked";
                    }
                }
            }
            <div class="row" @ishidden>
                <section class="col-md-12">
                    <div class="custom-control custom-switch  pull-right" style="margin-right:7px;">
                        <input type="checkbox" class="custom-control-input" name="Status" id="Status" @ischecked>
                        <label class="custom-control-label" for="Status">Active</label>
                    </div>
                </section>
            </div>



        </fieldset>
        <footer class="modal-footer" style="margin-top:11px;background-color:#F9F9F9;border-top:1px solid #ddd">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" id="btn_Save" class="btn btn-primary btnSaveForm">Save</button>
        </footer>
    }
</div>
<script src="~/Areas/Admin/Scripts/app.bundle.js"></script>
<script src="~/Areas/Admin/Scripts/ArooshyStoreScripts/Carousel/InsertUpdateCarousel.js?v=1"></script>
